<ion-header>
  <ion-toolbar>
    <ion-title>{{ task?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTask()">Eliminar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="task">
  <ion-card>
    <img [src]="task.image" *ngIf="task.image"/>
    <ion-card-header>
      <ion-card-title>{{ task.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ task.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
